@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Crimson Text", serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.background {
  background-image: linear-gradient(#16211c, #6e7c5b);
}

@media only screen and (min-width: 1000px) {
  .background {
    background-image: none;
  }
}

.svgNegro {
  filter: invert(1);
}

textarea {
  line-height: 4ch;
  background-image: linear-gradient(
    transparent,
    transparent calc(4ch - 1px),
    #a0a6ad 0px
  );
  background-size: 100% 4ch;
}
